{% load static %} {% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>

  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

  <style>
    .errorlist {
      color: #ff4949;
    }
  </style>
</head>
<body>
  <main class="min-h-screen flex justify-center items-center">
    <form action="{% url 'register' %}" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      {% csrf_token %}
        
      {{ form }}
      
      {% if error %}
        <p class="my-1 text-red-500 font-medium">{{ error }}</p>
      {% endif %}

        <!-- Checkbox for accepting terms -->
        <label class="my-5 flex items-center mt-4">
          <input type="checkbox" id="acceptTerms" class="form-checkbox h-5 w-5 text-blue-600">
          <span class="ml-2 text-sm text-gray-600">Eu concordo com os termos e condições</span>
        </label>

        <button type="submit" id="btn-submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full cursor-pointer">Criar conta</button>
        
        {% if error %}
          <p class="my-1 text-red-500 font-medium">{{ error }}</p>
        {% endif %}

        <div class="my-4">
          <p>
            Já tem uma conta?
            <a href="{% url 'login' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
              Entrar
            </a>
            <!-- <a href="{% url 'password_reset' %}"> -->
              <!-- {% trans 'Forgot Password?' %} -->
            <!-- </a> -->
          </p>
        </div>
      </form>
    </main>

  <script src="{% static 'js/main.js' %}" defer></script>
</body>
</html>
